@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --dark-blue: #03045E;
  --middle-blue: #00A2C7;
  --light-blue: #80FFDB;
  --lighter-blue: #CAF0F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.red {
  color: #BB5C1C;
}

.yellow {
  color: #DCA01E;
}

.green {
  color: #1CBB9B;
}

.purple {
  color: #B01CBB;
}